.mineHeader {
    width: 100%;
    min-height: 50px;
    background: #23d400;
  }

  .wrapper {
    margin: auto;
    max-width: 1000px;
  }

  .authBlock {
    float: right;
  }

  .userName {
    float: right;
    line-height: 50px;
    margin-right: 5px;
    font-weight: 700;
    color: #f0fff0;
  }